<h2 class="page-title"><%= t('nav.dashboard') %></h2>

<legend>Benachrichtigungen</legend>
<div class="info-section">
  Keine neuen Benachrichtigungen.
</div>

<legend>Funktionen</legend>
<div class="info-section">
  <ul id="dashboard-functions">
    <li class="dashboard-function"><%= link_to "Vereinsprofil bearbeiten", edit_profile_path, :class => "btn btn-primary" %></li>
    <li class="dashboard-function"><%= link_to "Neue Veranstaltung beantragen", new_event_path, :class => "btn btn-primary" %></li>
    <li class="dashboard-function"><%= link_to "Neuen Boxer hinzufügen", new_boxer_path, :class => "btn btn-primary" %></li>
  </ul>
</div>

<legend>Meine Abzeichen</legend>
<div class="info-section">
  Du hast noch keine Abzeichen.
</div>