<h2>Clubs</h2>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>PLZ</th>
      <th>Ort</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @clubs.each do |club| %>
      <tr>
        <td><%= club.name %></td>
        <td><%= club.zip %></td>
        <td><%= club.city %></td>
        <td><%= link_to 'Show', club %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
