<p id="notice"><%= notice %></p>

<%= render 'clubs/info' %>

<div>
  <strong>Events:</strong></br>
  <% @club.events.each do |e| %>
    <%= link_to e.title, event_path(e.id) %></br>
  <% end %>
</div>

<%= link_to 'Back', clubs_path %>
