<%= render 'nav' %>

<% if can? :update, @club %>
  <%= link_to 'Edit profile', edit_club_path(@club) %>
<% end %>
<% if can? :destroy, @club %>
  <%= link_to 'Destroy profile', @club, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>

<div>
  <%= render 'clubs/info' %>
</div>
