<h2>Meine <%= t(:event, count: 2) %></h2>

<% if can? :create, Event %>
  <%= link_to "#{t(:event, count: 1)} hinzufügen", new_event_path, :class => "btn"  %>
<% end %>

<h3>Veranstalter</h3>

<div>
<%= render 'events/list' %>
</div>