$main-color: #22F;
$secondary-color: #22F;
$dark-color: #222;
$background: #BCC;
$red-color: #D00;
$border: 2px #222 solid;
$app-fonts: sawasdee, verdana, arial, helvetica, sans-serif;

@mixin table-row {
  cursor: pointer;
  a:hover {
    text-decoration: none;
    color: $dark-color;
  }
  
  &:hover > td {
    background: $dark-color;
    color: #fff;
    a {
      color: #fff;
    }
  }
}

@mixin navigation {
  background: $dark-color;
  padding: 5px 0px;
  margin: 0 -10px;
  
  li {
    display: inline;
    padding: 10px 0px;
    margin: 0;
  }
  li > a {
    display: inline;
    width: 100%;
    padding: 10px 20px;
    margin: 0;
  }
}

@mixin button-color {
  background: $dark-color;
  color: #fff;
  
  &:visited {
    background: $dark-color;
    color: #fff;
  }
  
  &:hover, &:active {
    background: $secondary-color;
    color: #fff;
  }
    
  &.delete:hover, &.delete:active {
    background: $red-color;
    color: #fff;
  }
  
  &.btn-primary {
    background: $main-color;
    
    &:visited {
      background: $main-color;
    }
  
    &:hover, &:active {
      background: $dark-color;
    }
  }
}