$main-color: #22F;
$secondary-color: #22F;/*#D00;*/
$dark-color: #222;
$background: #BCC;/*#fffeea;*/
$border: 2px #222 solid;
$app-fonts: sawasdee, verdana, arial, helvetica, sans-serif;

@mixin table-row {
  cursor: pointer;
  a:hover {
    text-decoration: none;
    color: $dark-color;
  }
  
  &:hover > td {
    background: $dark-color;
    color: #fff;
    a {
      color: #fff;
    }
  }
}

@mixin navigation {
  background: $dark-color;
  padding: 5px 0px;
  margin: 0 -10px;
  
  li {
    display: inline;
    padding: 10px 0px;
    margin: 0;
  }
  li > a {
    display: inline;
    width: 100%;
    padding: 10px 20px;
    margin: 0;
  }
}