// Place all the styles related to the Boxers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "variables";

.boxer-row {
  @include table-row;
  &:hover > td {
    color: $dark-color;
    a {
      color: $dark-color;
    }
  }
  
  td {
    vertical-align: middle;
  }
}

.inactive, .inactive a, .inactive a:visited {
  color: #777;
}

.active, .active a, .active a:visited {
  
}