@import "variables";

.btn-group {
  margin-bottom: 20px;
}

.buttons.btn-group a.btn, .btn {
  @include button-color;
  
  padding: 5px 20px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border: none;
  margin-bottom: 20px;
  font-family: sawasdee;
  font-weight: bold;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  text-shadow: none;
}

.btn.remove-element-btn {
  margin-top: 10px;
}

.btn-primary {
  padding: 15px 30px;
  font-size: 1.5em;
  line-height: 30px;
}

#tabs {
  font-family: sawasdee;
  font-size: 1em;
  margin-bottom: 20px;
  
  ul li a, ul li a:visited {
    background-color: $dark-color;
    color: #FFF;
    font-family: sawasdee;
    font-weight: bold;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    text-shadow: none;
  
    &:hover, &:active, &:visited {
      background: $secondary-color;
      color: #fff;
    }
  }
  
  .btn {
    @include button-color;
  }
}