@import "variables";

.btn-group {
  margin-bottom: 20px;
}

.buttons.btn-group a.btn, .btn {
  @include button-color;
  
  padding: 5px 20px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border: none;
  margin-bottom: 20px;
  font-family: sawasdee;
  font-weight: bold;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  text-shadow: none;
}

.btn.remove-element-btn {
  margin-top: 10px;
}

.btn-primary {
  padding: 15px 30px;
  font-size: 1.5em;
  line-height: 30px;
}

#tabs {
  font-family: sawasdee;
  font-size: 1em;
  margin-bottom: 20px;
  
  ul li, ul li:hover {
    
  }
  
  ul li a {
    @include button-color;
    /*background-color: $dark-color;
    color: #FFF;
    font-family: sawasdee;
    font-weight: bold;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    text-shadow: none;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    
    line-height: 25px;
  
    &:hover, &:active {
      background-color: $main-color;
      color: #fff;
      border: none;
    }*/
  }
  
  form.edit_fight {
    float: right;
    margin: 0;
  }
  
  .approve-fight.btn, .decline-fight.btn {
    margin: 0;
    font-family: sawasdee;
    font-size: 0.8em;
  }
  
  .btn {
    @include button-color;
  }
}

.buttons.icons {
  display: inline-block;
  margin: 15px 0;
  float: right;
  
  .icon img {
/*  border: 2px solid $light-gray;*/
    background: $dark-color;
    padding: 8px;
    border-radius: 4px;
    
    &:hover {
      background: $main-color;
    }
  }
  
  .icon.delete img {
    &:hover {
      background: $red-color;
    }
  }
}

.expand {
  cursor: pointer;
}