// Place all the styles related to the Clubs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "variables";

a:visited.boxer_active,
a.boxer_active {
  color: #0a0;
}

a:visited.boxer_inactive,
a.boxer_inactive {
  color: #bbb;
}

.club-row {
  @include table-row;
  &:hover > td {
    color: $dark-color;
    a {
      color: $dark-color;
    }
  }
}
