// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "variables";

#calendar {
  border-collapse:separate;
  border-spacing: 0px 10px;
  
  thead {
    display: none;
  }
  
  .event-day {
    font-size: 5em;
    font-weight: normal;
  }
  .event-title {
    font-size: 1.5em;
  }
  .event-participations {
    
  }

  .calendar-row {
    @include table-row;
    height: 80px;
    background: #fff;
    
    td {
      vertical-align: middle;
      border-top: $border;
      border-bottom: $border;
      
      &:first-child {
        border-left: $border;
      }
      
      &:last-child {
        border-right: $border;
      }
    }
  }
}

span#calendar-label {
  font-size: 1.8em;
  vertical-align: middle;
}

#map {
  margin-bottom: 20px;
}