@import "variables";

@mixin form-input {
  border: 1px $main-color solid;
  border-radius: 2px;
  webkit-border-radius: 2px;
  moz-border-radius: 2px;
  box-shadow: none;
  webkit-box-shadow: none;
  moz-box-shadow: none;
  max-width: 100%;
  background: $background;
  color: $dark-color;
  
  &:focus {
    border: 1px $secondary-color solid;
    box-shadow: 0px 0px 5px rgba(34, 34, 255, 1);
    background: #FFF;
  }
}

form.form-horizontal .controls {
  margin-left: 20px;
}

div.nested-fields {  
  margin-bottom: 10px;
}

div.nested-form {
  background: $background;
  padding: 5px 20px;
  margin-bottom: 10px;
  
  .form-group {
    display: inline-block;
    margin: 0 10px 0 0;
  }
}

legend.section-title {
  color: $secondary-color;
  margin-bottom: 0;
  border: none;
  border-bottom: 1px solid #DDD;
  margin-bottom: 10px;
}

div.form-section {
  background: #FFF;
  padding: 20px;
  margin-bottom: 10px;
}

.actions.form-actions {
  padding: 0;
  background: none;
  border: none;
}

.inline-fields {
  .form-group {
    display: inline-block;
  }
}

.form-group {  
  textarea.form-controls,
  input[type=text].form-controls,
  input[type=url].form-controls,
  input[type=password].form-controls,
  input[type=date].form-controls,
  select.form-controls,
  #search {
    @include form-input;
    width: 30em;

    &.medium-field {
      width: 17em;
    }
  
    &.large-field {
      width: 95%;
    }
  
    &.small-field {
      width: 10em;
    }
    
    &.x-small-field {
      width: 6em;
    }
  }
  
  label.add-on:last-child {
    @include form-input;
  }
  
  #event_performance_class_ids {
    height: 260px;
    display: none;
  }
}

#approve-buttons form {
  display: inline;
}

.form-group.check {
  margin-bottom: 10px;
  
  .form-controls {
    margin: 0;
  }

  label {
    display: inline;
  }
}

#search {
  @include form-input;
  padding: 9px 20px;
  width: 20em;
  font-size: 16px;
}

#search-btn {
  padding: 10px 20px;
}

.tipp {
  color: #555;
  font-size: 13px;
  margin-top: -5px;
  margin-bottom: 10px;
}

