@import "variables";

@mixin form-input {
  border: $border;
  border-radius: 0;
  webkit-border-radius: 0;
  moz-border-radius: 0;
  box-shadow: none;
  webkit-box-shadow: none;
  moz-box-shadow: none;
  max-width: 100%;
  
  &:focus {
    border: 1px $secondary-color solid;
    box-shadow: 0px 0px 5px rgba(34, 34, 255, 1);
  }
}

form.form-horizontal .controls {
  margin-left: 20px;
}

div.nested-fields {  
  margin-bottom: 10px;
}

div.nested-form {
  border-top: $border;
  border-bottom: $border;
  background: #FFF;
  padding: 5px 20px;
  margin: -1px -20px 0 -20px;
  
  .form-group {
    display: inline-block;
    margin: 0 10px 0 0;
  }
}

legend.section-title {
  color: $secondary-color;
  margin-bottom: 0;
  border: none;
}

div.form-section {
  border: $border;
  padding: 20px;
}

.actions.form-actions {
  padding: 0;
  background: none;
  border: none;
}

.inline-fields {
  .form-group {
    display: inline-block;
  }
}

.form-group {  
  textarea.form-controls,
  input[type=text].form-controls,
  input[type=url].form-controls,
  input[type=password].form-controls,
  input[type=date].form-controls,
  select.form-controls,
  #search {
    @include form-input;
    width: 300px;

    &.medium-field {
      width: 300px;
    }
  
    &.large-field {
      width: 95%;
    }
  
    &.small-field {
      width: 150px;
    }
    
    &.x-small-field {
      width: 50px;
    }
  }
  
  label.add-on:last-child {
    @include form-input;
  }
}

#approve-buttons form {
  display: inline;
}

.form-group.check {
  margin-bottom: 10px;
  
  .form-controls {
    margin: 0;
  }

  label {
    display: inline;
  }
}

#boxer-info-title,
#boxer-info-section {
/*  display: none;*/

}
