#gmaps-canvas {
  display: none;
}

#gmaps-error {
  color: #cc0000;
}

#results {
  color: #555;
  padding-top: 10px;
}

#input {
  padding-top: 20px;
  padding-bottom: 20px;
  color: #ccc;
}
#input #gmaps-output-latitude, #input #gmaps-output-longitude {
  color: green;
}

.download { float: right; }
