@import "variables";

body {
  background-color: $background;
}

.container {
  background-color: $background;
  padding: 0 10px 0 10px;
  min-height: 100%;
  min-width: 960px;
  max-width: 960px;
  margin-top: 20px;
}

.sidebar {
  float: left;
  width: 180px;
}

.main-content {
  &.narrow {
    float: right;
    width: 760px;
  }
  &.wide {
    width: 100%;
  }
}

#header {
  display: none;
  background: #222;
  color: #FFF;
  font-size: 1.5em;
  text-align: center;
  text-transform: uppercase;
  margin-top: 0;
}

h1, h2, h3, .nav a {
  text-transform: uppercase;
}

h2.page-title {
  color: $main-color;
  font-size: 3em;
  line-height: 50px;
}

label {
  cursor: default;
}

.subtitle {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 10px;
  margin-top: 10px;
  color: $main-color;
}

body {
  margin: 0 auto;
}

a.link {
  text-decoration: underline;
  &:hover {
    color: $secondary-color;
  }
}

.info-section {
  margin-bottom: 20px;
}

ul {
  margin-left: 0;
  li {
    list-style-type: none;
  }
}

label {
  font-weight: bold;
}

.admin-section {
  background: #DD7D7D;
  padding: 20px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
