@import "variables";

@mixin main-nav {
  padding: 60px 20px 10px 20px;
  margin: 0 -10px;
  
  li {
    display: inline;
    padding: 10px 0px;
    margin: 0;
  }
  
  li > a {
    display: inline;
    width: 100%;
    padding: 10px 20px;
    margin: 0;
  }
  
  a#logout {
    color: #fff;
    &:hover {
      color: #D00;
    }
  }
  
  float: left;
}

#nav-bar {
  background: $dark-color;
  position: relative;
  height: 100px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  min-width: 960px;
  
  li a {
    background: transparent;
  }
}

#main-nav {
  @include main-nav;
}

#second-nav {
  @include main-nav;
  margin: 0;
  float: right;
}

.clear-div {
  clear: both;
}

.nav li a, .nav li.divider {
  font-weight: bold;
  text-shadow: none;
  background: $dark-color;
  color: #fff;
  word-break: break-all;
  line-height: 30px;
  
  &:hover, &.selected {
    background: $dark-color;
    color: $main-color;
  }
}

li.main-item {
  margin-bottom: 5px;
}

li.sub-item {
  a {
    background: #555;
  }
}

.sub-menu {
  padding: 5px 0 0 5px;
  margin-bottom: 5px;
}