@import "variables";

#main-nav {
  padding-right: 0;
  a#logout {
    color: #fff;
    &:hover {
      background: #D00;
    }
  }
  
  li.nav-header {
    font-size: 14px;
  }
}

.nav li a, .nav li.divider {
  background: $dark-color;
  color: #fff;
  word-break: break-all;
  line-height: 30px;
  
  &:hover {
    background: $main-color;
  }
  
  &.selected {
    color: #fff;
    background: $main-color;
  }
}

li.sub-item {
/*  margin: 0 -5px 0 -5px;*/

  a {
    background: #666;
  }
}

.sub-menu {
  padding: 5px 0 0 0;
}