@import "variables";

html {
  height: 100%;
}

body {
  color: #222;
  font-family: $app-fonts;
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  height: 100%;
}

p, ol, ul, td {
  font-family: sawasdee, verdana, arial, helvetica, sans-serif;
  font-size: 14px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 13px;
}

a {
  color: #222;
  &:visited {
    color: #222;
  }
  &:hover {
    color: #d00;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

.notice {
  background: #1a1;
  border: none;
  color: #fff;
  padding: 8px 35px 8px 14px;
  margin-bottom: 20px;
  margin-top: 10px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.alert {
  background: #a11;
  border: none;
  color: #fff;
  margin-top: 10px;
}

.field_with_errors {
  padding: 2px;
  
  display: table;
  .form-controls {
    background: #FF8080;
  }
}

#error_explanation {
  width: 50%;
  border: 1px solid #D00;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 10px;
    background-color: #D00;
    color: #fff;
  }
  ul li {
    font-size: 14px;
    list-style: square;
    padding: 5px;
    margin-left: 25px;
  }
}
