@import "variables";

.checkbox-column {
  width: 10px;
}

.boxer-data tr td {
  padding: 2px;
  border: none;
  
  &:first-child {
    text-align: left;
    padding-right: 10px;
  }
}

.boxer-row {
  @include table-row;
  &:hover > td {
    color: $dark-color;
    a {
      color: $dark-color;
    }
  }
  
  td {
    vertical-align: middle;
  }
}

.inactive {
  background: #FFF;
  color: $light-gray;
}

.active {
  background: #DDD;
  font-weight: bold;
}

.club-row {
  @include table-row;
  width: 100%;
  &:hover > td {
    color: $dark-color;
    a {
      color: $dark-color;
    }
  }
}